.container{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    height: 500px;
    width: 300px;
    text-align: center;
    margin-left: 500px;
}
body{
    background-color: rgb(166, 198, 246);
}
